.page {
	background: #F2F2F2;
}

:root {
	--basic-black: #000000;
	--basic-black-grey: #333333;
	--basic-white: #FFFFFF;
	--basic-light-blue: #81B3D2;
	--basic-blue: #669EC0;
	--basic-dark-blue: #5496BD;
	--basic-grey: #EEEEEE;
	--basic-light-brown: #766357;
	--basic-brown: #604E43;
	--basic-dark-brown: #503E33;
	--basic-hex-grey: #F2F2F2;
	--basic-grey-grey:#EBEBEB;

}

.page-body {

	width: 1200px;
	margin: 0 auto;
	padding: 0;

	font-family: 'PT Sans', sans-serif;
	font-style: bold;

	font-size: 21px;
	line-height: 21px;
	font-weight: 700;

	color: var(--basic-black);
	text-transform: uppercase;

	background-color: var(--basic-white);
	background-position: top center;
	background-repeat: no-repeat;
	box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);

}


img {

	max-width: 100%;
	height: auto;
}



.main-navigation {
	height: 56px;
	background: white;
	display: flex;
	font-size: 14px;
	line-height: 26px;
	color: var(--basic-black);
	background-color: transparent;
	list-style: none;
}


.main-navigation-wrapper {
  background-color: var(--basic-white);
  
}

.style_nav {
	font-style: normal;
	list-style: none;

	display: flex;

}

.style_nav a {
	color: var(--basic-black);	
	text-decoration: none;
}


.style_nav a:hover{
	color: var(--basic-light-blue);
}
.style_nav a:active{

	color: var(--basic-black);
	mix-blend-mode: normal;
	opacity: 0.3;
}

.style_nav a:focus{

	color: var(--basic-brown);
}

.nav_logo {
	z-index: 1;
}

.container-wellcom figure {
	margin: 0 ;
	display: flex;

}
.sedona-wellcom {
	background: transparent;
	 position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
    
    /* unnecessary styling properties */
    max-width: 50%;
    text-align: center;
  
	/*position: absolute;
	top: 77.35px;
	left: 33%;		*//*отцентрировать картинку, посмотреть в инете */

}
.sedona-tre {
	background: transparent;
	position: absolute;
	width: 1200px;
	height: 57px;
	top: 508px;
}

.conteiner_sedona {
width: 1200px;
height: 216px;
	
	font-size: 21px;
	line-height: 26px;
	align-items: center;
	text-align: center;

}

.conteiner_sedona_text dd {

	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 26px;
}

.conteiner_city {
	display: flex;
	height: 256px;
/*	width: 1200px;*/


}

.conteiner_city_text {

	text-align: center;
	background: var(--basic-light-blue);
	width: 400px;
	color: var(--basic-white);
}

.conteiner_city_text h2 {
	font-size: 21px;
	line-height: 21px;
}


.conteiner_city_text dl {
	font-size: 14px;
	line-height: 21px;
	font-family: 'PT Sans', sans-serif;
	font-weight: normal;
	font-style: normal;
	
}

.conteiner_city_img figure {
margin: 0 ;

}
.conteiner_city_img  {
	background-color: var(--basic-black-grey);
  	color: var(--basic-white);
}


.features-list {
  list-style: none;
}

.feature-item {
  text-align: center;
}

.feature-item h3 {
  font-size: 21px;
  line-height: 21px;
}

.feature-item p {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;

}
.features-list-grey {
	background: var(--basic-grey);
}

.conteiner_sedona_map {
	align-items: center;
	text-align: center;
}

.conteiner_sedona_text_map {
font-size: 30px;
line-height: 24px;


}
.conteiner_sedona_text_map  p {
font-size: 14px;
font-family: 'PT Sans', sans-serif;
	font-weight: normal;
/*border: 1px solid blue;*/ /* выделение в рамку объекта, чтоб посмотреть его размеры */


}

.button-blue {
  font: inherit;

  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-light-blue);
  border: none;
}
.button-blue:hover{
	background-color: var(--basic-blue);

}
.button-blue:active{
	background-color: var(--basic-dark-blue);
	mix-blend-mode: normal;
	color: var(--basic-white);
	color: rgba(255, 255, 255, 0.3);
	border: none;


}

.button-form {
	width: 458px;
	height: 58px;
	margin: 0 auto;
}

.button-brown {
	font: inherit;

  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-light-brown);
  border: none;
 
}

.button-brown:hover{
	background-color: var(--basic-brown);

}
.button-brown:active{
	background-color: var(--basic-dark-brown);
	mix-blend-mode: normal;
	color: var(--basic-white);
	color: rgba(255, 255, 255, 0.3);
	border: none;
}

.button-form-hotell {
	width: 568px;
	height: 86px;

}

.form_search {
	/*align-items: center;*/
	width: 568px;
	height: 395px;

	margin: 0 auto;
}

/*.appointment-item {
	text-align: left;
}
*/

.appointment-item input {
  font: inherit;
  background-color: var(--basic-hex-grey);
  border: none;
  color: var(--basic-black);
}

.appointment-item input:hover {
  background-color: var(--basic-grey-grey);
}
.appointment-item input:focus {
  border: var(--basic-grey-grey);
  background-color: var(--basic-white);
}

.main-footer {
  color: var(--basic-black);
}
.footer-contacts a {
  color: var(--basic-black);
  text-decoration: none;
}
.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: none;
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
 /* background: var(--basic-light-blue);*/   /*временно, чтобы видеть иконки соцсетей*/
}
.social-button {
  color: inherit;
}

.social-button:hover {
  background-color: var(--basic-blue);
}
.social-button:focus {
  background-color: var(--basic-dark-blue);
}

.button-social-network {
	background: #81B3D2;
	width:46px;
	height:48px;
	border: none;
}


.button-social-network:hover{
	background-color: var(--basic-blue);


}
.button-social-network:active{
	background-color: var(--basic-dark-blue);
	mix-blend-mode: normal;
	/*color: var(--basic-white);
	color: rgba(255, 255, 255, 0.3);*/
	border: none;
	
}
.button-social-network img:active{
opacity: 0.3;
}
/*
.button-htmlacadem-img {
	background: url(img/logo-htmlacademy.svg); /* Путь к файлу с исходным рисунком  */
    /*display: block;
     width: 115px; /* Ширина рисунка */
    /*height: 41px;   
}

.button-htmlacadem-img:hover{
	background: url(img/logo-htmlacademy-blue.svg);
}*/
